@model App_tracker.ViewModels.ContainersViewModel
@{
    ViewData["Title"] = "Today's appointments";
}

<style>
    .custom-card-title {
        font-size: 12px;
        color: #102A42;
    }

    .custom-card-deemphasize {
        font-size: 10px;
        color: #829AB0;
    }
</style>

<div class="row">
    @foreach (var containerStatus in Model.ContainerStatuses)
    {
        <div class="col">
            <div class="card">
                <div class="card-body js-status-column" data-status-id="@containerStatus.Id">
                    <h1 class="custom-sub-title custom-row-seperator">@containerStatus.Status</h1>
                    @foreach (var container in Model.Containers)
                    {
                        @if (container.StatusId == containerStatus.Id)
                        {
                            <div class="card js-custom-container-card mb-2" draggable="true" id="@container.Id">
                                <div class="card-body pt-1 pb-1">
                                    <div class="row">
                                        <div class="col pl-0">
                                            <div class="custom-card-title">@container.RefNum</div>
                                        </div>
                                        <div class="pr-0 col d-flex justify-content-end" style="font-size: 12px;">
                                            @container.Bay?.Bay
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col pl-0">
                                            <div class="custom-card-deemphasize">
                                                @Model.ToString(container)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    }
</div>

<!-- Add bay and door number -->
<div class="modal fade" id="activationDetailsFormModal" tabindex="-1" role="dialog" aria-labelledby="activationDetailsFormModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form class="containerActivationDetailsForm">
                    <input type="hidden" name="ContainerId" />
                    <input type="hidden" name="NewStatusId" />
                    <div class="form-group">
                        <label class="text-custom-primary" asp-for="Bays">Bay</label>
                        <select name="BayId" asp-items="@Model.Bays" class="form-control" required>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="text-custom-primary" asp-for="Doors">Door</label>
                        <select name="DoorId" asp-items="@Model.Doors" class="form-control" required>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary mr-2">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <environment include="Development">

        <script src="~/js/Views/Home/index.js"></script>
        <script>
            $(document).ready(function () {
                IndexModule.init();
            })
        </script>
    </environment>
}
